# Ignore paths that contain generated content.
sites/*/files
sites/*/private

.idea
vendor
docker-runtime
node_modules

!docroot/
docroot/*

!docroot/composer.json
!docroot/composer.lock

!docroot/libraries/

!docroot/modules/
docroot/modules/*
!docroot/modules/custom/

!docroot/themes/
docroot/themes/*
!docroot/themes/custom/

docroot/sites/*
!docroot/sites/prj-settings.inc
!docroot/sites/development.services.yml

docroot/sites/default/*
!docroot/sites/default/settings.php
!docroot/sites/default/services.yml
